@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	background-color: #2D2D2D;
}

.comingsoon {
	color: white;
	font-family: "Inter", sans-serif;
	text-align: center;
	margin-bottom: 0%;
	margin-top: 25%;
}

.link {
	color: white;
	font-family: "Inter", sans-serif;
	text-align: center;
	margin-top: 1.5%;
	margin-bottom: -500%;
}

.image {
	text-align: center;
	margin-bottom: -25%;
	margin-top: 15%;
	pointer-events: none;
}